body {
    background-color: #f4f7f9;
}
::selection {
    color: #fff;
    background: #4285f4;
}
.wrapper {
    width: 350px;
}
.select-btn,
.options li {
    display: flex;
    align-items: center;
    cursor: default;
}
.select-btn {
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    background: white;
    border: solid 1px #dee2e6;
    border-radius: 4px;
    justify-content: space-between;
    width: 265px;
}
.select-btn i {
    font-size: 15px;
    transition: transform 0.3s linear;
}
.wrapper.active .select-btn i {
    transform: rotate(-180deg);
}
.content {
    display: none;
    padding: 15px;
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 1;
}
.wrapper.active .content {
    display: block;
}
.content .search {
    position: relative;
}
.search i {
    top: 50%;
    left: 18px;
    color: #999;
    font-size: 13px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}
.search input {
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    padding: 0 20px 0 43px;
    border: 1px solid #b3b3b3;
}
.search input:focus {
    padding-left: 42px;
    border: 1px solid #4285f4;
}
.search input::placeholder {
    color: #bfbfbf;
}
.content .options {
    margin-top: 10px;
    max-height: 135px;
    overflow-y: auto;
    padding-right: 8px;
    padding-left: 2px;
    margin: 15px 0 0 0;
}
.options::-webkit-scrollbar {
    width: 7px;
}
.options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}
.options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}
.options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}
.options li {
    height: 45px;
    padding: 0 0 0 13px;
    font-size: 15px;
}
.options li:hover:not(.selected-template) {
    border-radius: 5px;
    background: #f2f2f2;
    cursor: pointer;
}
.options .selected-template {
    border-radius: 5px;
    background-color: rgba(192, 227, 251, 0.64);
    cursor: pointer;
}
